.addButtonModalWindow{
    width: 50%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color:#32363f;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
}