.container{
    margin: 20px 50px;
    display: flex;
}


.userPicturePage{
    margin: 5px;
    width: 500px;
    height: 500px;
}

.userPicturePageDiv{
    margin: 5px;
    width: 510px;
    height: 510px;
    background-color:#32363f;
}

.userName{
    font-size: 85px;
}

.userNameDiv{
    margin-left: 20px;
}