.modalAdd{
    background-color:#32363f;
    display: flex;
    flex-direction:column;
    position: absolute;
}

.addVideoModalWindow{   
    background-color:#32363f;
    display: flex;
    flex-direction:column;
}

.modalButtonClose{
    background-color:#32363f;
    border: 2px solid #282c34be;
    /* border: none; */
    color: white;
    margin: 10px;
    padding: 5px;
}